<h1>Eat-Da-Burger</h1>

<div class="all-burgers">
    <div class="fresh">
        {{#each burger}}
        {{#unless devoured}}
        {{> burger-block-fresh}}
        {{/unless}}
        {{/each}}
    </div>
    <div class="devoured">
        {{#each burger}}
        {{#if devoured}}
        {{> burger-block-devoured}}
        {{/if}}
        {{/each}}
    </div>
</div>

<form id="form" class="create-form">
    <div class='form-inner'>
        <div class="form-group">
            <label class="sr-only" for="new burger">Add new burger</label>
            <textarea rows="4" cols="50" id="newBurger" name="new burger"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>

</form>