body {
  background-color: #ffb366;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

h1 {
  text-align: center;
}

.all-burgers,
.create-form {
  justify-content: center;
}

.burger-container,
.all-burgers,
.create-form {
  display: flex;
}

.burger-box {
  background: #fff;
  margin: 16px;
  width: 250px;
}

.create-form {
  margin-top: 32px;
}

.form-inner {
  text-align: center;
}

.fresh {
  margin-right: 64px;
}
